<h1>We played rock!</h1>

<% comp_move = ["rock", "paper", "scissors"].sample %>


<h1>
  They played <%= comp_move %>
</h1>

<% if comp_move == "rock" %>
  tie
<% elsif comp_move == "paper" %>
  lost
<% elsif comp_move == "scissors" %>
  won
<% end %>